<h1> Animal </h1>
<p>
  <strong>Name:</strong>
  <%= @animal.name %>
</p>
 
<p>
  <strong>Weight:</strong>
  <%= @animal.weight %>
</p>
<p>
  <strong>Decription:</strong>
  <%= @animal.description %>
  </p>
<%= link_to 'home', root_path %>